<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Details</title>
</head>

<body>
  <!-- <h2>Marvel Character Details</h2>
  <ul *ngFor="let item of items" (click)="onSelect(hero)">
    <li>
      <span class="badge">{{item.id}}</span> {{item.name}}
    </li>
  </ul> -->
  <div class="container mt-5 mb-5">
    <h1 class="mb-5">Marvel Character Details</h1>
    <div class="card-columns" >

      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="assets/download.png" alt="Card image cap" style="height:250px;width:250px">
        </div>
        <br>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Name</h5>
          <p class="card-text">{{ character.data.results[0].name }}</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Stories</h5>
          <p class="card-text">{{ character.data.results[0].stories.available }}</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Series</h5>
          <p class="card-text">{{ character.data.results[0].series.available }}</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Comics</h5>
          <p class="card-text">{{ character.data.results[0].comics.available }}</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <p class="card-text">{{ character.data.results[0].description }}</p>
        </div>
      </div>
    </div>
    <a class="btn btn-primary" [routerLink]="['']">Back To Characters</a>
  </div>


</body>

</html>
